                * {
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                    list-style: none;
                    text-decoration: none;
                    font-family: 'Times New Roman', Times, serif;
                    color: unset;
                }
                
                header {
                    background-image: url('../assets/day.jpeg');
                    height: 500px;
                    background-size: cover;
                    background-position: center;
                }
                
                img.social {
                    width: 20px;
                    margin: 0px 10px;
                }
                
                footer {
                    background-color: #4f4dde;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    font-size: 1.2rem;
                    text-decoration: none;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }